<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">

    <title>COVID-19</title>

</head>

<body>
    <table border="1" align="center" width="800">
        <thead>
            <tr>
                <th>State</th>

                <th>
                    Active
                </th>
                <th>
                    Confirmed
                </th>
                <th>
                    Deaths
                </th>
                <th>
                    Recovered
                </th>

            </tr>
        </thead>
        <tbody>
            {% for state in data.statewise %}
            <tr>
                <td>{{state.state}}</td>

                <td>{{state.active}}</td>
                <td>{{state.confirmed}}</td>
                <td>{{state.deaths}}</td>
                <td>{{state.recovered}}</td>
            </tr>
            {% endfor %}


        </tbody>

    </table>
    <!--barchart-->
    <div>
        <canvas id='myChart'>

        </canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const labels = {{labels|safe}};

        const data = {
            labels: labels,
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: {{chartdata|safe}},
                       }]
                    };


        const config = {
            type: 'bar',
            data,
            options: {}
        };

        var myChart = new Chart(document.getElementById('myChart'),
            config
            );
    </script>







</body>

</html>